.quotes {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .quotes {
    text-align: center;
  }
}
